body {
  margin: 0 auto;
  max-width: 1440px;
  background-color: #9acd32;
}

h1 {
  font-family: 'Kanit', sans-serif;
  font-size: 70px;
}

h2 {
  margin: 0;
  font-family: 'Kanit', sans-serif;
  font-size: 40px;
}

main {
  padding: 20px;
}

p {
  font-family: 'Josefin Sans', sans-serif;
}

.stats-container {
  display: flex;
  justify-content: center;
  flex-shrink: revert;
  width: 95%;
  margin: 0 auto 10px;
}

.games {
  background-color: white;
}

.card {
  padding: 0.2rem 0.5rem;
  background-color: white;
  border: 1px solid beige;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 0.5rem;
  text-align: center;
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.count {
  font-family: 'Kanit', sans-serif;
  font-size: 80px;
}
