body{
  margin: 0 auto;
  max-width: 1440px;
  background-color: #9acd32;
}

h1 {
  font-family: 'Kanit', sans-serif;
  font-size: 70px;
}

main{
  padding: 20px;
}

p{
  font-family: 'Josefin Sans', sans-serif;
}