aside{
  position: fixed;
  right: -300px;
  top: 0;
  width: 300px;
  height: 100vh;
  background-color:blueviolet;
  z-index: 1;
}

aside.active{
  right: 0;
}

aside p{
  margin: 0;
  color: white;
  text-align: center;
  font-family: 'Kanit', sans-serif;
  font-size: 40px;
  margin-bottom: 40px;
}

aside ul{
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: space-between;
}

aside li{
  font-family: 'Josefin Sans', sans-serif;
}

aside ::marker{
  color: white;
  font-size: 36px;
}

aside a{
  font-size: 30px;
  text-decoration: none;
  transition: 0.3s;
  color: white;
}

aside a:hover{
  color: black;
}
