.difficultLevel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    cursor: pointer;
    transition: 200ms;
    font-weight: bolder;
}
.difficultLevel:hover {
    transition: 200ms;
    box-shadow: inset 3px 5px;
}
.levelHolder {
    display: flex;
    gap:5px;
    align-items: center;
    justify-content: space-evenly;
}
#level1{
    background-color: cadetblue;
}
#level2{
    background-color: rgb(61, 204, 109);
}
#level3{
    background-color: rgb(204, 171, 61);
}
#level4{
    background-color: rgb(204, 61, 61);
}
#level5{
    background-color: rgb(82, 61, 204);
}
#level6{
    background-color: rgb(204, 61, 128);
}
.wrong {
    background-color: brown;
    font-size: large;
    font-weight: bolder;
    width: 200px;
    height:50px;
    margin: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:200ms;
    cursor: pointer;
    user-select: none;   
}
.wrong:hover {
    transition:200ms;
    box-shadow: inset 3px 5px;
}
.right {
    margin: 35px;
    background-color: rgb(101, 165, 42);
    font-size: large;
    font-weight: bolder;
    width: 200px;
    height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:200ms;
    cursor: pointer;
    user-select: none;   
}
.right:hover {
    transition:200ms;
    box-shadow: inset 3px 5px;
}
.gameHolder {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
}
.clock {
    font-size: 35px;
    font-family: 'Kanit', sans-serif;
    width: 150px;
    height: 150px;
    border-radius: 150px;
    background-color: rgb(196, 150, 240);
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;   
}
.word {
    font-size: 25px;
    font-family: 'Kanit', sans-serif;
    padding: 10px;
}
.wordTranslate {
    font-size: 25px;
    padding: 10px;
    font-family: 'Kanit', sans-serif;
}
.popUp {
    z-index: 3;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    padding: 15px;
    gap:5px;
    max-height: 90%;
    overflow-y:scroll;
  }
  .backBlack {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.438);
  }
  .wrongWord{
    display: flex;
    gap: 5px;
    align-items: center;
    color:rgb(153, 12, 12);
    font-weight: bolder;
  }
  .rightWord{
    display: flex;
    gap: 5px;
    align-items: center;
    color:darkgreen;
    font-weight: bolder;
  }
  .musicPlay{
    width:25px;
    height:25px;
  }