header{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-image: url("../pictures/header-background.png");
  background-repeat: no-repeat;
}

header span{
  font-family: 'Josefin Sans', sans-serif;
  font-style: italic;
  font-size: 30px;
}

.gamburger-menu {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 22px;
  transition: all 0.5s;
}
.gamburger-menu>div {
  height: 2px;
  background-color: #F1CDB3;
}

.gamburger-menu.active {
  transform: rotate(90deg);
}

.user-information{
  margin: 80px 0 0 0;
}

.log-out{
  margin-bottom: 40px;
}

.sign-in-or-log-in-button{
  margin: 80px 0 0 0;
}

.sign-in-or-log-in-button,
.log-out{
  border: none;
  background-color: violet;
  width: 290px;
  height: 70px;
  font-size: 35px;
  font-family: 'Josefin Sans', sans-serif;
  transition: 0.5s;
  cursor: pointer;
}

.sign-in-or-log-in-button:hover{
  background-color: #a15ba1;
}